.detailsContainer {
    color: white;
    position: relative;
}

.detailsContainer > a > i {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    font-size: 3em;
}

.detailsContainer > i:hover {
    cursor: pointer;
}

.image {
    display: block;
    max-width: 500px;
    height: auto;
    border-radius: 1em;
    object-fit: cover;
}

h2 {
    text-align: center;
    padding: 0.3em 0 1em 0;
}

.details {
    display: flex;
    gap: 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.description {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.ingredientList {
    flex: 1 1 auto;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.editButton,
.likeButton,
.deleteButton {
    padding: 0.5em 2em;
    border-radius: 5px;
    background-color: #ff6347;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.editButton:hover,
.likeButton:hover,
.deleteButton:hover {
    background-color: #e5533d;
}   


@media (max-width: 900px) {
    .details {
        flex-direction: column;
        align-items: center;
    }

    .description {
        width: 100%;
    }

    .detailsContainer > a > i {
        display: none;
    }
}