@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

.authFormIntro {
    text-align: center;
    margin-top: 1em;
    font-style: italic;
    font-weight: bold;
    color: white;
    font-family: 'DM Serif Display', serif;
}

.authForm {
  align-items: center;
  background-color: #f9f9f9;
  padding: 1.6em; 
  border-radius: 0.375em; 
  box-shadow: 0 0.167em 0.333em rgba(0, 0, 0, 0.1); 
  max-width: 40rem; 
  margin: 5em auto; 
  font-size: 1.2em;
}

.authForm div {
  margin-bottom: 1em;
}

.field {
  width: 100%;
  padding: 0.25em;
  margin: 0.25em 0; 
  border: 1px solid #ccc;
  border-radius: 0.188em; 
  font-size: 2rem; 
}

.fieldError {
  width: 100%;
  padding: 0.25em;
  margin: 0.25em 0; 
  border: 1px solid red;
  border-radius: 0.188em; 
  font-size: 2rem; 
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
  width: 100%;
}

.button {
  display: inline-block;
  padding: 0.5em 0.8em;
  background-color: #ff6347;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid white;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #e5533d;
}

a {
  text-decoration: none;
}

.error {
  color: red;
  font-size: 0.6em;
  margin-top: 0;
}