.authForm fieldset {
  padding: 1em 1.5em;
  border: 2px solid rgb(44, 63, 82);
  border-radius: 0.2em;
  margin: 0 0 1em 0;
}

.authForm legend {
  padding: 0.5em;
  margin-left: -0.5em;
  color: rgba(255, 255, 255, 0.8);
}

.authForm label,
.authForm input,
.authForm textarea {
  display: block;
  width: 100%;
}

.authForm input {
  outline: none;
  padding: 0.6em 0.8em;
}

.authForm input[type="submit"] {
  padding: 0.8em 0.8em;
  background-color: rgba(21, 32, 42, 1);
  border: none;
  border-radius: 0.4em;
  color: white;
  /* color: rgba(133, 255, 122, 1); */
  margin-top: 2em;
  cursor: pointer;
}

.authForm input[type="submit"]:hover {
  background-color: rgba(133, 255, 122, 1);
  color: rgba(21, 32, 42, 1);
  background-color: #e5533d;
  color: white;
}

.authForm input[type="text"],
.authForm input[type="email"],
.authForm input[type="password"] {
  border: 2px solid rgba(44, 63, 82, 1);
  border-top-right-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
  background-color: transparent;
  /* color: rgba(133, 255, 122, 1); */
  color: white;
}

.authForm input[type="text"]:focus,
.authForm input[type="email"]:focus,
.authForm input[type="password"]:focus {
  /* border-color: rgba(133, 255, 122, 1); */
  border-color: white;
}

/* .authForm input[type="text"]:focus ~ label,
.authForm input[type="email"]:focus ~ label,
.authForm input[type="password"]:focus ~ label {
  color: rgba(133, 255, 122, 1);
} */

.authForm input[type="text"]:focus ~ i,
.authForm input[type="email"]:focus ~ i,
.authForm input[type="password"]:focus ~ i {
  /* border-color: rgba(133, 255, 122, 1); */
  /* background-color: rgba(133, 255, 122, 1); */
  /* color: rgba(44, 63, 82, 1); */
  border-color: white;
  background-color: white;
  color: black;
}

.authForm {
  max-width: 400px;
  margin: 3em auto;
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.1);
  /* box-shadow: 0 0 20px 0 rgb(255,255,255,0.051); */
  border-radius: 0.5em;
}

.authForm .header {
  position: relative;
  padding: 2em 0;
  margin-bottom: 2em;
}

.authForm .header::before {
  position: absolute;
  inset: 0;
  display: block;
  content: "";
  /* background-color: rgb(0,0,0,0.2); */
  /* background-color: #ff6347; */
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2em;
  transform: perspective(60px) rotateX(-2deg) rotateY(-1deg) translateX(-0.3em);
}

.authForm .header h1 {
  text-align: center;
  z-index: 1000;
  /* color: #ff6347; */
  /* color: rgba(133, 255, 122, 1); */
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 0.1em;
}

.field {
  padding-bottom: 0.5em;
  display: flex;
  flex-wrap: wrap;
}

.field label {
  color: white;
  /* color: rgba(133, 255, 122, 0.5); */
  order: 1;
}

.field input {
  width: auto;
  order: 3;
  flex: 1 0 auto;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.field i {
  order: 2;
  display: flex;
  align-items: center;
  padding: 0 1em;
  color: white;
  /* color: rgba(133, 255, 122, 1); */
  border: 2px solid rgba(44, 63, 82, 1);
  border-radius: 0.4em;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.error {
  color: rgb(255, 0, 0);
  font-style: italic;
  letter-spacing: 0.05em;
  order: 4;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0;
  margin-bottom: 0;
}

.link {
  display: block;
  text-align: center;
  margin-top: 1em;
  color: white;
  /* color: rgba(133, 255, 122, 1); */
  text-decoration: none;
  font-style: italic;
}

@media (max-width: 600px) {
  .authForm {
    max-width: 300px;
  }
}
