.card {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  color: white;
  padding: 0.5em;
}

.card p {
  margin: 0;
  padding: 0;
}

.card:hover {
  cursor: pointer;
  border: 1px solid white;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
  border-radius: 1em;
  background-color: white;
  color: black;
}

.card img {
  display: block;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
}

.link {
  text-decoration: none;
}
