.userProfileContainer {
  max-width: 1000px;
  border: 2px solid #e0e0e0;
  border-radius: 1em;
  color: white; /* Keep the white text color */
  margin: 2em auto;
  padding: 1em;
  font-family: Arial, sans-serif;
}

.greeting {
  text-align: center;
  font-size: 1.3em;
}

.entity {
  margin: 2em 0;
}

.entity h3 {
  padding: 1em;
}

.entityList {
  display: flex;
  gap: 2em;
  padding: 1.5em;
  overflow-x: auto;
}

.entityList::-webkit-scrollbar {
  width: 12px;
}

.entityList::-webkit-scrollbar-track {
  background: #333; /* Dark background for the track */
}

.entityList::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

.entityList::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.entityList a {
  max-width: 150px;
  flex: 0 0 150px;
  text-align: center;
  overflow: hidden;
  text-decoration: none;
  color: white; /* White text color for consistency */
}

.noRecipes {
  text-align: center;
  font-style: italic;
  color: #888;
}

.liked,
.created {
  width: 100%;
}

.liked {
  background-color: #444; 
  border: 1px solid #555; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.entity h3 {
  font-size: 1.2em;
}
