.commentForm {
    margin-bottom: 2em;
    position: relative;
    margin-left: 30px;
}

.commentForm::before {
    display: block;
    content: "";
    background-image: url('/profile.jpg');
    background-size: cover;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -35px;
}

.field textarea {
    border: 1px solid grey;
    width: 100%;
    padding: 0.5em;
}

.buttons {
    text-align: end;
}

.buttons input {
    background-color: #e5533d;
    color: white;
    padding: 0.3em 1em;
    border-radius: 5px;
}