.siteNavigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    font-size: 1.5em
}

.siteNavigation ul {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    list-style: none;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 2em;
}

.siteNavigation a {
    text-decoration: none;
    color: black;
}

.username {
    text-align: right;
}