.siteNavigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.559);
    font-size: 1.5em;
    padding: 0.5rem 1rem;
    border-radius: 0.3em;
}

.siteNavigation ul {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    list-style: none;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 2em;
}

.siteNavigation a {
    text-decoration: none;
    color: white;
}

.siteNavigation a:hover {
    color: rgb(171, 171, 171);
}

.username {
    text-align: right;
    font-style: italic;
}