.formTitle {
  text-align: center;
  margin-top: 2em;
  font-weight: bold;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
  margin: 5em auto;
  padding: 2em;
  text-align: center;
  font-size: 1.2em;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
  border-radius: 1em;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup label {
  font-weight: bold;
  color: white;
}

.formGroup input,
.formGroup textarea,
.formGroup select {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: rgba(21, 32, 42, 1);
  color: white;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
  width: 100%;
}

.button {
  display: inline-block;
  max-width: fit-content;
  padding: 0.2em 2em;
  align-self: flex-end;
  margin-top: 0.5em;
  background-color: rgba(21, 32, 42, 1);
  border: none;
  color: rgba(133, 255, 122, 1);
}

.button:hover {
  background-color: #e5533d;
  color: white;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.addButton {
  max-width: fit-content;
  padding: 0.1em 1em;
  align-self: flex-end;
  margin-top: 0.5em;
  background-color: rgba(21, 32, 42, 1);
  border: none;
  color: rgba(133, 255, 122, 1);
}

.formGroup:nth-of-type(4) input[type="text"] {
  margin-bottom: 0.6em;
}
 

@media (max-width: 600px) {
  .form {
    padding: 1em;
    font-size: 0.8em;
  }
}