.formTitle {
  text-align: center;
  margin-top: 2em;
  font-weight: bold;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
  margin: 5em auto;
  padding: 2em;
  text-align: center;
  font-size: 1.2em;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
  border-radius: 1em;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  position: relative;
}

.formGroup label {
  font-weight: bold;
  color: white;
}

.formGroup input,
.formGroup textarea,
.formGroup select {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: rgba(21, 32, 42, 1);
  color: white;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
  width: 100%;
}

.button {
  display: inline-block;
  max-width: fit-content;
  padding: 0.2em 2em;
  align-self: flex-end;
  margin-top: 0.5em;
  /* background-color: rgba(21, 32, 42, 1); */
  background-color: #ff6347;
  border: none;
  /* color: rgba(133, 255, 122, 1); */
  color: white;
  border-radius: 0.5em;
}

.button:hover {
  background-color: #e5533d;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.addButton {
  max-width: fit-content;
  padding: 0.1em 1em;
  align-self: flex-end;
  margin-top: 0.5em;
  /* background-color: rgba(21, 32, 42, 1); */
  background-color: #ff6347;
  border: none;
  /* color: rgba(133, 255, 122, 1); */
  color: white;
  border-radius: 0.5em;
}

.addButton:hover {
  background-color: #e5533d;
}

.listGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.listGroup i {
  display: block;
  order: -1;
}

.listGroup i:hover {
  cursor: pointer;
}

.listGroupRecipes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.listGroupRecipes span {
  display: block;
  margin-right: 10px;
}

.listGroupRecipes input {
  width: 100%;
  margin-bottom: 5px;
}

.listGroupRecipes i {
  display: block;
  order: -1;
  margin-right: 10px;
}

.listGroupRecipes i:hover {
  cursor: pointer;
}

.exerciseLabel {
  padding-bottom: 1em;
}

.labels {
  display: flex;
  align-items: center;
  width: 100%;
}

.labels div:nth-of-type(1) {
  flex-basis: 60%;
  text-align: center;
  padding-left: 35px;
}

.labels div:nth-of-type(2) {
  padding-left: 30px;
}

.labels div:nth-of-type(3) {
  padding-left: 15px;
}

.labels div:nth-of-type(2),
.labels div:nth-of-type(3) {
  flex-basis: 25%;
  text-align: center;
}

.exerciseRow {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.exerciseInput {
  padding: 8px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: rgba(21, 32, 42, 1);
  color: white;
  max-width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 20%;
}

.col:nth-of-type(1) {
  width: 50%;
}

.listGroupMultyLine {
  position: relative;
}

.error {
  color: red;
  text-align: left;
  margin-top: 5px;
  font-size: 0.8em;
  font-style: italic;
  margin-bottom: 0;
  padding-bottom: 0;
  position: absolute;
  bottom: -25px;
}

@media (max-width: 600px) {
  .form {
    padding: 1em;
    font-size: 0.8em;
  }
}
