.weatherWidget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 120px;
  margin: 5px auto;
  padding: 20px;
  /* border-radius: 15px; */
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #fff;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  transform: scale(0.9);
  animation: fadeIn 0.5s forwards;
  position: absolute;
  /* left: 515px; */
  left: 50%;
  margin-left: -125px;
}

.weatherWidget p {
  padding-bottom: 0;
}

.weatherIcon {
  display: block;
  position: absolute;
  left: 0;
}

.loading {
  opacity: 1;
  transform: scale(1);
}

.dayTime {
  background: linear-gradient(to bottom right, #4facfe, #00f2fe);
}

.nightTime {
  background: linear-gradient(to bottom right, #2c3e50, #4ca1af);
}

.weatherTitle {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.weatherInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cityName {
  font-size: 1.2em;
  margin-bottom: 5px;
  padding-bottom: 0;
}

.temperature {
  font-size: 2.5em;
  padding-bottom: 0;
  margin: 0;
}

.weatherText {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 600px) {
  .weatherWidget {
    width: 100px;
    height: 80px;
    padding: 0;
    margin-left: -50px;
  }

  .weatherTitle {
    font-size: 1em;
  }

  .cityName {
    font-size: 0.8em;
  }

  .temperature {
    font-size: 1.5em;
  }
}

@media (min-width: 601px) and (max-width: 799px) {
  .weatherWidget {
    width: 150px;
    left: 60%;
  }
}
