.comment {
    display: flex;
    padding: 1em;
    border: 1px solid black;
    position: relative;
    margin-bottom: 1em;
    min-height: 150px;
}

.image {
    display: block;
    width: 100px;
    height: auto;
    border: 1px solid black;
    padding-bottom: 0;
    text-align: center;
    align-content: center;
}


.comment p {
    padding: 0.5em 0 0 1em;
}

.comment .text {
    padding: 1em;
}

.comment .date {
    padding-left: 1em;
    font-style: italic;
    font-size: 0.8em
}

.comment span {
    padding-left: 1em;
    font-style: italic
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0.5em;
}

.buttons .ownerButton {
    flex-basis: 70px;
    background-color: #e5533d;
    color: white;
    border-radius: 5px;
}

.reactionButton {
    color: black;
    border-radius: 5px;
}

.reactionButton i {
    padding-right: 5px;
}