.recipeCard {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  color: white;
}

.recipeCard img {
  display: block;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
}

.link {
  text-decoration: none;
}
