.container {
  max-width: 800px;
  margin: 2em auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 3rem;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.description {
  font-size: 1.3rem;
  color: #666;
  margin-bottom: 20px;
  text-align: justify;
  text-align: center;
}

.difficulty, .goal, .owner {
  font-size: 1.2rem;
  color: #444;
  margin: 5px 0;
  padding: 10px;
  background-color: #fff;
  border-left: 5px solid #007bff;
  border-radius: 5px;
}

.difficulty {
  border-left-color: #28a745;
}

.goal {
  border-left-color: #ffc107;
}

.owner {
  border-left-color: #dc3545;
}

.exercises {
  margin-top: 20px;
}

.exercisesTitle {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.exercisesList {
  list-style-type: none;
  padding: 0;
}

.exerciseItem {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
}

.exerciseName,
.exerciseSets,
.exerciseReps {
  font-weight: bold;
  color: #333;
  font-size: 1.2rem;
  display: block;
}

.exerciseName {
    flex-basis: 60%;
}

.exerciseSets {
    flex-basis: 25%;
}

.exerciseReps {
    flex-grow: 1;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.editButton,
.likeButton,
.deleteButton {
    padding: 0.5em 2em;
    border-radius: 5px;
    background-color: #ff6347;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.editButton:hover,
.likeButton:hover,
.deleteButton:hover {
    background-color: #e5533d;
}  


@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  .title {
    font-size: 1.8rem;
  }

  .description {
    font-size: 1.1rem;
  }

  .difficulty, .goal, .owner {
    font-size: 0.9rem;
    padding: 8px;
  }

  .exercisesTitle,
  .exerciseName,
  .exerciseSets,
  .exerciseReps {
    font-size: 0.9rem;
  }
}
